.div-destacados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.p{
    letter-spacing: -0.2rem;
}

.titulo{
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 18px;
}