.filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.button{
    height: 100px;
	width: 230px;
    margin: 10px;
    border-radius: 2px;
    border: none;
    font-size: 25px;
    font-weight: bold;
}